---
layout: none
title: 404 Not Found
description: Wrong way
---
<!doctype html>
<html lang=en>
  <head>
    {% include header.html %}
  </head>

  <body>
    <div class="container">
    <header>
      <div class="menu">
        <ul><li>{% include navigation.html %}</li></ul>
      </div>
    </header>
    <main>
      <h1 style="color:#ee4b2b">{{ page.title }}</h1>
      <br>
      <p style="color:#ee4b2b">The page you were looking for doesn't exist. Go back to <a href="/" style="color:#f7674a">/index</a> or stop scraping my site.</p>
    </main>
    <footer>
                       
    </footer>
    </div>
  </body>
</html>