<!doctype html>
<html lang=en>
  <head>
    {% include header.html %}
  </head>

  <body>
    <div class="container">
    <header>
      <div class="menu">
        <ul><li>{% include navigation.html %}</li></ul>
      </div>
    </header>
    <main>
      <h1>{{ page.title }}</h1>
      <hr>
        {{ content }}
    </main>
    <footer>
      <a href="/privacy" style="float: left">privacy policy</a>
      <a href="http://floofiestl4hrbxamim2onzjgrehrv4juwv22fyiiguotoahmitnogid.onion/" style="float: right">onion service</a>
    </footer>
    </div>
  </body>
</html>
